---
layout: page
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            <h1 class="title with-icon"><span class="fa fa-university cat-title"></span>{{site.rutgers.name}}</h1>
            <ul class="timeline">
                {% for semester in site.rutgers.Semesters %}
                <li class="timeline-inverted">
                    <div class="timeline-badge info">{{semester.name}}</div>

                    {% for course in semester.Courses %}

                    <div class="timeline-panel grid-block">
                        <div class="timeline-heading">
                            {{course.name}}
                        </div>

                        <p>
                            <small class="text-muted">
                                {% if course.content %}
                                {{course.content}}
                                {% endif %}
                            </small>
                        </p>


                    </div>

                    {% endfor %}
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-md-4">
            <h1 class="title with-icon"><span class="fa fa-tags cat-title"></span>Additional Information</h1>
            <div class="grid-block">
                <p class="text-muted"><span style="font-weight:bold">Attended: </span>{{site.rutgers.attended}} </p>
                <p class="text-muted"><span style="font-weight: bold">Degree Earned:</span> {{site.rutgers.degree}}</p>
            </div>
        </div>
    </div>
</div>